div.wrapper{
	float:left; /* important */
	position:relative; /* important(so we can absolutely position the description div */
}
div.description{
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:0px; /* position will be on bottom */
	left:0px;
	width:100%;
	/* styling bellow */
	background-color:black;
	color:white;
	opacity:0.6; /* transparency */
	filter:alpha(opacity=60); /* IE transparency */
}
p.description_content{
	padding:10px;
	margin:0px;
	font-size: 30px;
}
.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

h2 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}
.textOnImage {
     position: absolute;
     top: 200px;
     left: 0;
     width: 100%;
     color: #010100;
     font-family:courier;
     font-size: 160%;
}
img.blur {
    -webkit-filter: blur(5px); /* Safari */
    filter: blur(3px);
    height: 100%;
    width: 100%;
}
